@use './_base' as base;

.contact-cell {
    @include base.responsive(768px) {
        width: 100px !important;
        margin: 0 .5rem;
    }
}

.contact-cell-lg {
    @include base.responsive(768px) {
        width: 150px !important;
        margin: 0 .5rem;
    }
}