<mp-dialog-header>افزودن جز جدید</mp-dialog-header>
<form>
    <mat-dialog-content class="px-2 px-lg-4">
        <div class="col-12 row px-0 mb-3">
            <label for="elementName" class="form-label text-black px-0">
                نام جز
            </label>
            <input [(ngModel)]="addElementPb.name" type="text" name="elementName" id="elementName" class="form-control">
        </div>

        <hr>

        <label class="form-label text-black px-0">انتخاب دسته بندی</label>

        <input type="text" (input)="onSearchList(searchInput.value)" name="elementName" id="elementName" class="form-control mb-3" placeholder="نام دسته" #searchInput>

        <div class="element-types-wrapper overflow-auto">
            <ng-container *ngFor="let elementType of elementTypesList">
                <div class="form-check mb-2">
                    <label class="form-check-label" for="flexRadioDefault1">
                        {{elementType.name}}
                    </label>
                    <input class="form-check-input" [(ngModel)]="addElementPb.projectElementTypeId" [value]="elementType.id" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                </div>
            </ng-container>
        </div>

    </mat-dialog-content>

    <mp-dialog-footer (onSubmit)="onSubmitClick()"></mp-dialog-footer>
</form>