.ql-toolbar {
  &.ql-snow {
    display: flex !important;
    align-items: center;
    font-family: $font-family-base !important;

    .ql-formats {
      display: flex !important;
    }
  }
}

.ql-container {
  font-family: $font-family-base !important;
  font-size: 14px;

  .ql-blank {
    direction: rtl;
    text-align: right;
  }
}
