@import '_base';

.scenes {

    .scene-brief-wrapper {
        height: calc(100vh - 195px);
        overflow: hidden;

        &:hover {
            overflow: auto;
            @include customScrollbar(7px);
        }
    }

    .scenes-table {
        border-collapse: inherit; 
        border-spacing: 0 0.5rem;
    }
}