<section class="overview col-12 row px-0">
    <header class="pages-header col-12 row justify-content-between px-0 py-2 border-bottom">
        <div class="col-lg-2 px-0">
            <mp-select [idKey]="'id'" [options]="modeSelectOptions" [(model)]="selectedMode" (modelChange)="modeSelectChange($event)" class="row col-auto mx-auto ms-lg-3 me-lg-0 mb-2 mb-lg-0" style="width: 220px;" #modeSelect>
                <ng-template #optionsTemp let-options=options>
                    <div *ngFor="let option of options;let last = last" class="cfs-12 row align-items-center mb-2" [class.text-primary]="selectedMode == option.id" (click)="modeSelect.onOptionClick(option)" [class.mb-2]="!last">
                        <svg width="16" height="16" class="col-auto fill-{{selectedMode == option.id ? 'primary':'secondary'}} px-0 ms-3">
                            <use [attr.xlink:href]="'/assets/images/svgs.svg#' + option.svgId"></use>
                        </svg>
                        {{option.name}}
                    </div>
                </ng-template>
            </mp-select>
        </div>

        <div class="col-auto row col-auto align-items-center px-0">
            <!-- <mp-select *ngIf="episodes?.length" [idKey]="'id'" [labelKey]="'title'" [options]="episodes" [extraLabel]="'lastUpdateTimeStr'" [(model)]="episodeId" (modelChange)="episodeSelectChange($event)" class="row col-auto mx-auto mx-lg-3 mb-2 mb-lg-0" style="width: 220px;">
            </mp-select> -->
        </div>
    </header>

    <main class="col-12 row align-items-start px-0">
        <aside class="col-lg-3 col-xxl-2 row bg-white position-sticky px-0 d-none d-lg-flex"
            style="top: 131px; height: calc(100vh - 139px);">
            <div class="col-12 row align-content-between position-relative overflow-auto px-0">
                <div class="sidebar-wrapper col-12 row align-content-start p-0">
                    <ng-container *ngFor="let episode of episodesWithScenesList">

                        <div class="text-muted bg-white col-12 row py-2">
                            {{episode.title}}
                        </div>
                        <div *ngFor="let scene of episode.scenes;let last = last" (click)="onSceneBriefClick(episode, scene)" class="scene-brief-card col-12 cfs-12 row hstack justify-content-between py-1 cursor-pointer" [class.mb-1]="!last" style="background-color: #FFEBD3;">
                            <div class="col-auto px-0">
                                <span class="col-auto px-0 ms-2">{{scene.order}}{{scene.subOrder ? '' + scene.subOrder : ''}}</span>
                                {{scene.locationType?.name ?? ''}}
                                {{(scene.dayStatus?.name && scene.locationType?.name) ? '- ' + scene.dayStatus?.name : ''}}
                                {{(scene.mainLocation && scene.dayStatus?.name) ? '- ' + scene.mainLocation.name : ''}}
                                {{(scene.subLocation && scene.mainLocation) ? '- ' + scene.subLocation.name + '-' : ''}}
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>
        </aside>

        <div class="col-lg-9 col-xxl-10 row align-items-start align-content-start ps-0">
            <div *ngIf="sceneDetail" class="col-12 row bg-white p-2">
                <quill-editor [styles]="{minHeight: '200px', direction: 'rtl'}" [classes]="'border-0'"
                    [placeholder]="'متن سکانس ...'" [readOnly]="true" [(ngModel)]="sceneDetail.scene">
                    <div quill-editor-toolbar>

                    </div>
                </quill-editor>
            </div>

            <div *ngIf="!sceneDetail" class="text-muted fs-2 col-12 row justify-content-center mt-5 p-2">
                برای مشاهده جزئیات یکی از سکانس ها را انتخاب نمایید
            </div>
        </div>
    </main>
</section>