<h2 mat-dialog-title class="text-black fw-bold border-primary border-bottom pb-2">{{modalHeader}}</h2>

<form class="" #categoryFrom="ngForm">
    <mat-dialog-content class="px-2 px-lg-4">
        <div class="col-12 row px-0 mb-3">
            <label for="name" class="form-label text-black px-0">
                عنوان
            </label>
            <input type="text" id="name" name="name" [(ngModel)]="transactionCategory.name" class="form-control rounded-2 border-0" required>
        </div>
        <div class="col-12 row px-0 mb-3">
            <label for="code" class="form-label text-black px-0">
                کد
            </label>
            <input type="text" id="code" name="code" [(ngModel)]="transactionCategory.code" class="form-control rounded-2 border-0" required>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button class="col-4" mat-raised-button color="primary" type="submit" (click)="onSubmitFormClick(categoryFrom)">تایید</button>
    </mat-dialog-actions>
</form>