<h2 mat-dialog-title class="text-black fw-bold border-primary border-bottom pb-2">
    انتخاب لیست برای انتقال
</h2>

<mat-dialog-content class="px-2 px-lg-4">
    <div class="position-relative col-12 px-0 mb-4">
        <svg width="16" height="16" class="position-absolute top-50 end-0 me-3 translate-middle-y">
            <use xlink:href="/assets/images/svgs.svg#search-secondary"></use>
        </svg>
        <input type="search" name="search" (input)="onSearchList(searchListInput.value)" class="form-control bg-light border-0 rounded-2 pe-5" placeholder="جستجو لیست" #searchListInput>
    </div>
    <div class="list-wrapper col-12 row px-0 overflow-auto" style="max-height: 250px;">
        <div *ngFor="let list of allList;let last = last" (click)="selectedListId = list.id" [class.bg-light]="selectedListId == list.id" class="col-12 row justify-content-between px-2 py-1 cursor-pointer" [class.mb-2]="!last">
            <div class="col-auto">
                <svg width="16" height="16" class="col-auto ms-2 px-0">
                    <use xlink:href="/assets/images/svgs.svg#document"></use>
                </svg>
                <span>
                   {{list.name}}
                </span>
            </div>

            <div class="col-auto">
                {{list.contactCounts}}
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="center" class="mt-4">
    <button class="col-4" mat-raised-button color="primary" (click)="listIdEmitter.emit(selectedListId)" [disabled]="!selectedListId" type="submit">تایید</button>
</mat-dialog-actions>