<section class="main-layout row">
    <aside class="main-layout__sidebar">
        <app-sidebar></app-sidebar>
    </aside>

    <main class="main-layout__main-section-wrapper col pt-0 pt-lg-4 px-2 ps-lg-4 pe-lg-2">
        <div class="main-section rounded-3 pt-3 py-lg-3 px-3 px-lg-4 h-100">
            <header class="col-12 border-bottom border-2 px-0 position-sticky top-0">
                <app-header class="row my-2"></app-header>
            </header>

            <router-outlet></router-outlet>
        </div>
    </main>
</section>
