<h2 *ngIf="title" mat-dialog-title class="text-black fw-bold border-primary border-bottom pb-2">{{title}}</h2>
<p class="col-12 mb-0 px-0" [innerText]="text"></p>
<div class="col-12 row justify-content-center px-0 mt-5">
    <div class="col row text-center">
        <a (click)="dialog.closeAll()" class="col text-secondary rounded-2 border border-secondary py-2">بازگشت</a>
    </div>
    <div class="col row text-center">
        <a (click)="confirmEmitter.emit()" class="col text-danger rounded-2 border border-danger py-2">حذف</a>
    </div>
</div>