@import './assets/fonts/iransans/css/fontiran.css';

@import './styles/typography';
@import './styles/bootstrap.scss';
@import './styles/material';

@import "../node_modules/leaflet/dist/leaflet.css";

body {
    direction: rtl;
    text-align: right;
    // font-size: map-get($font-sizes, 5);
    background-color: #f8f9fa;
    line-height: 24px;
    height: 100%;
    @include customScrollbar(7px);
}

select {
    @include selectCustomAppearance();
}

a {
    cursor: pointer !important;
}

.cursor-pointer {
    cursor: pointer;
}

.rtl * {
    direction: rtl
}

.ltr * {
    direction: ltr
}

.disabled {
    opacity: .5;
}

.pages-header {
    position: sticky;
    top: 74px;
    z-index: 401;
    background: $body-bg;
}

.mp-table {
    border-collapse: inherit;
    border-spacing: 0 0.5rem;
}

.mat-dialog-content {
    @include customScrollbar(7px);
}

.mat-menu-panel {
    min-height: auto !important;
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
    left: 0 !important;
    right: unset !important;
}