@use '_base' as base;

.options-wrapper {
    max-height: 200px;
    overflow: auto;
    z-index: 2;
    @include base.customScrollbar(6px);

    .option-item {
        &:hover {
            background-color: lighten(base.$text-muted, 45%);
        }
    }
}